html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Home
        link(rel='icon', href='../favicon.ico')
        style
            include home.css
    body
        h1 Home
        a(href="api/logout") Logout
        div
            ul
                li
                    a(href='api/post', target='_blank') View Full Post
                li
                    a(href='api/newPost', target='_blank') Create  New Post
        
