html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title New Post
        style
            include post.css

    body
        h1 Create New Post 
        form(class= 'todo', method='POST', action=url)
            label(for="title") Title:
            input(name='title', type='text')
            label(for="img") Image (Link):
            input(name='img', type='text')
            label(for="des") Des:
            textarea(name="des", cols="50", rows="10" type='text')
            label(for="heading1") Heading1:
            input(name='heading1', type='text')
            label(for="paragraph1") Paragraph1:
            textarea(name="paragraph1", cols="80", rows="20" type='text')
            label(for="img2") Image2 (Link):
            input(name='img2', type='text')
            label(for="heading2") Heading2:
            input(name='heading2', type='text')
            label(for="paragraph2") Paragraph2:
            textarea(name="paragraph2", cols="80", rows="20" type='text')
            label(for="img3") Image3 (Link):
            input(name='img3', type='text')
            label(for="heading3") Heading3:
            input(name='heading3', type='text')
            label(for="paragraph3") Paragraph3:
            textarea(name="paragraph3", cols="80", rows="20" type='text')
            label(for="author") Author:
            input(name='author', type='text')
            button(type="submit") Submit
