doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', href='../favicon.ico')
        title New Post
        style
            include post.css
        script(src='/tinymce/tinymce.min.js')
        script.
            tinymce.init({
            selector: 'textarea',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'casechange checklist code format undo redo | styleselect | bold italic | style-p style-h1 style-h2 style-h3 style-pre style-code',
            toolbar_mode: 'floating'
            });


    body
        h1 Create New Post 
        form(class= 'todo', method='POST', action=url)
            label(for="title") Title:
            input(name='title', type='text')
            label(for="img") Image (Link):
            input(name='img', type='text')
            label(for="des") Des:
            textarea(name="des", cols="50", rows="10" type='text')
            label(for="post") Post:
            textarea(name="post", cols="80", rows="20" type='text',id="styleTextarea") 
            label(for="author") Author:
            input(name='author', type='text')
            label(for="category") Category:
            input(name='category', type='text', id='category')
            button(type="submit") Submit
